body{
    margin: 0px;
}
.app-wrapper{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
.p-text{
    color: grey;
    text-align: left;
}
.header{
    display: flex;
    padding-top: 30px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.header-a{
    padding-top: 8px;
    position: relative;
    margin-left: auto;
}
.img-header{
    width: 140px;
}
a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}
.first-section, .img-first-section{
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    max-width: fit-content;
}
.email-box{
    width: 90%;
    height: 30px;
    opacity: 70%;
}
.email-button{
    width: 91%;
    background-color: #2f65f9;
    color: #fff;
    height: 35px;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 8px #888888;
}
.img-second-section{
    width: 85%;
    padding-top: 50px;
}
.second-section{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8fe;
    background-position: top;
    margin-top: 80px;
    padding-bottom: 40px;
}
.h2-second-section{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.p-second-section{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.a-second-section{
    border-bottom: 1px solid #459f90;
    width: 500px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.a-text:hover{
    color: #a1ddd6;
}
.a-text{
    color: #459f90;
}
.icon-ss{
    margin-bottom: -3px;
    margin-left: -7px;
}
.founder-box{
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 50px;
}
.founder-profile{
    display: flex;
}
.founder-name{
    display: block;
}
.img-founder{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.h4-founder{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}
.p-founder{
    margin-left: 20px;
    margin-top: -17px;
    font-size: 12px;
}
.quote-design{
    width: 15px;
}
.third-section{
    background-color: #575988;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
}
.h1-third-section, .p-third-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.email-box-ts{
    width: 80%;
    border: none;
    box-shadow: 0px 0px 8px #4d4d4d;
    height: 35px;
}
.email-button-ts{
    width: 80%;
    border: none;
    background-color: #2f65f9;
    color: #fff;
    height: 40px;
    box-shadow: 0px 0px 8px #4d4d4d;
}
.footer{
    background-color: #07043b;
    padding-left: 20px;
}
.phone{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.mail{
    display: flex;
    margin-left: 20px;
}
.a-footer{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}
.icon-footer{
    padding-top: 10px;
}
.logo-footer{
    margin-left: 20px;
    margin-top: 40px;
}
.footer-list-1, .footer-list-2{
    text-decoration: none;
    display: block;
    margin-top: 25px;
    margin-left: 10px;
}
.footer-list-2{
    padding-bottom: 100px;
}
@media (min-width:690px)
{
    .header{
        margin-left: 90px;
        margin-right: 90px;
    }
    .app-wrapper{
        width: 100%;
    }
    .first-section{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 90px;
        margin-right: 90px;
    }
    .left-side-d-fs{
        display: block;
        text-align: left;
    }
    .img-first-section{
        width: 50%;
        height: 50%;
        max-width: 500px;
    }
    .fs-email{
        display: flex;
        width: 80%;
    }
    .email-button{
        margin-left: 10px;
        width: 40%;
    }
    .email-box{
        width: 60%;
    }
    /**/
    .second-section-text{
        display: block;
        text-align: left;
        margin-left: 0px;
        padding-left: 0px;
        width: 50%;
        margin-right: 10%;
    }
    .h2-second-section{
        margin-left: 0px;
    }
    .p-second-section{
        margin-left: 0px;
    }
    .second-section{
        display: flex;
        flex-direction: row-reverse;
        padding-left: 0px;
        margin-left: 0px;
        max-width: fit-content;
        padding-left: 90px;
        padding-right: 90px;
    }
    .img-second-section{
        width: 40%;
        height: 40%;
    }
    .founder-box{
        margin-left: 0px;
    }
    .a-second-section{
        margin-left: 0px;
    }
    /**/
    .third-section-text{
        width: 50%;
    }
    .third-section-right{
        width: 50%;
    }
    .third-section{
        display: flex;
        text-align: left;
        padding-left: 90px;
        width:unset;
    }
    .h1-third-section{
        margin-left: 0px;
    }
    .p-third-section{
        margin-left: 0px;
    }
    .email-box-ts{
        margin-top: 30px;
    }
    .email-button-ts{
        width: 200px;
    }
    .footer{
        display: flex;
        padding-left: 85px;
    }
    .first-part{
        display: block;
    }
    .footer-list-1, .footer-list-2{
        margin-left: 20%;

    }
}